html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*{
    margin: auto;
}
table {
  border: 4px red solid;
}
caption {
  color: red;
}

caption::after {
  content:'#05';
  color: rgb(106, 49, 180);
}
thead th{
    background-color: rgb(240, 217, 186);
    border: blue 1px solid;
}
tbody > tr > td:first-child{
    background-color: aqua;
}
td,
th{
    padding: 4px;
    border: blue 1px solid;
}
tbody > tr:nth-child(odd){
    background-color: rgb(165, 161, 110);
}
tbody > tr:nth-child(even){
    background-color: rgb(216, 216, 213);
}

tfoot td[colspan="2"]{
    background-color: rgb(230, 148, 159);
}